<!DOCTYPE html>
<html lang="en">
	<head>
		<title>MinuteDock</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <link href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css' rel='stylesheet' media="screen"/>
		 <link href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css' rel='stylesheet' />
		 <link href='stylesheets/app.css' rel='stylesheet' />
	</head>
	<body style="background-color: #eee">
		<div id="ajaxLoader" ng-show="ajaxLoader">
    		<img src="images/spinner.gif" class="ajaxLoader img-responsive img-circle"/>
		</div>		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">Minutedock</h3>
				</div>
			</div>
			<logout></logout>	
			<ng-include src="'views/partials/alerts.html'"></ng-include>
 			<ng-view></ng-view>	    	
    	</div>
	    <script src="js/lib/require.js" data-main="js/main"></script>
	</body>
</html>
