<div class="row">
	<div class="col-md-11"></div>
	<div class="col-md-1">
		<a class="btn btn-primary pull-right" href="#/logout">Logout</a>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<div ng-show="alertMessage" class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{alertMessage}}
		</div>	
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="pager">
		  <li class="previous"><a href="#/entries/{{previousMonthYear}}">&larr; Previous Month</a></li>
		  <li>{{currentMonthYear}}</li>
		  <li class="next" ng-show="nextMonthYear"><a href="#/entries/{{nextMonthYear}}" >Next Month &rarr;</a></li>
		</ul>
	</div>
</div>
<ng-include src="'views/partials/addEntries.html'"></ng-include>
<ng-include src="'views/partials/listEntries.html'"></ng-include>