<div class="row">
	<div class="col-md-12">
		<form class="form-inline" role="form" ng-submit="login()">
		  <div class="form-group">
		    <label class="sr-only" for="email">Email address</label>
		    <input type="email" ng-model="email" class="form-control" id="email" placeholder="Enter email" required>
		  </div>
		  <div class="form-group">
		    <label class="sr-only" for="password">Password</label>
		    <input type="password" ng-model="password" class="form-control" id="password" placeholder="Password" required>
		  </div>
		  <button type="submit" class="btn btn-primary">Sign in</button>
		</form>
	</div>
</div>