<div>    
	<input type="text" autocomplete="off" class="form-control" ng-model="term" ng-change="query()"/>    
	<div class="typeahead-dropdown" ng-transclude>
		<!-- <ul>
			<li ng-repeat="project in projects" class="typeahead-suggestion" typeahead-item="project">
				<p>{{project.name}}</p>
				<p>{{project.name}}</p>
			</li>
		</ul>
		<ul>
			<li ng-repeat="contact in contacts" class="typeahead-suggestion" typeahead-item="contact">
				<p>{{contact.name}}</p>
				<p></p>
			</li>
		</ul> -->
	</div>
</div>