<div class="row">
	<div class="col-md-11"></div>
	<div class="col-md-1">
		<a class="btn btn-primary pull-right" href="#/logout">Logout</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="pager">
		  <li class="previous"><a href="#/entries/{{previousMonthYear}}">&larr; Older</a></li>
		  <li>{{currentMonthYear}}</li>
		  <li class="next" ng-show="nextMonthYear"><a href="#/entries/{{nextMonthYear}}" >Newer &rarr;</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
  	        <a data-toggle="collapse" href="#addEntries">
    	      Add Entries
        	</a>
		  </div>		
		  <div id="addEntries" class="panel-collapse collapse">
		  <div class="panel-body">
			  	<div class="row">
			  		<div class="col-md-5">
			  			<div ng-show="alertEntriesAdded" class="alert alert-success alert-dismissable">
			  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
			  				{{alertEntriesAdded}}
			  			</div>	
			  		</div>
			  	</div>
			  	<form role="form" ng-submit="addEntries()">
				  	<div class="row">
				  		<div class="col-md-4">
							<label class="sr-only" for="contact">Contact</label>
							<select class="form-control" ng-options="c.name for c in contacts" ng-model="selectedContact" id="contact" required>
								<option value="">-- choose contact --</option>
							</select>
				  		</div>
				  		<div class="col-md-4">
							<label class="sr-only" for="project">Project</label>
							<select class="form-control" ng-options="p.name for p in projects | filter : {contactId : selectedContact.id}" ng-model="selectedProject" id="project" required>
								<option value="">-- choose project --</option>
							</select>
				  		</div>
				  		<div class="col-md-4">
						    <label class="sr-only" for="duration">Duration</label>
						    <input type="text" ng-model="duration" class="form-control" id="duration" placeholder="Duration(in hours)" required>
				  		</div>
				  	</div>
				  	<div class="row">
				  		<div class="col-md-4">
							<label class="checkbox">
							  <input type="checkbox" ng-model="selectWeekdays" ng-click="toggleWeekdays()"> Select all weekdays
							</label>
				  		</div>
				  	</div>
				  	<div class="row">
				  		<div class="col-md-12">
							<label class="checkbox-inline" ng-show="date <= today" ng-repeat="date in dates">
							  <input type="checkbox" ng-checked="selectedDates.indexOf(date) > -1" ng-click="toggleSelection(date)"> {{date.getDate()}}
							</label>
				  		</div>
				  	</div>
				  	<div class="row">
				  		<div class="col-md-1">
							<button type="submit" class="btn btn-primary pull-left">Add Entries</a>
				  		</div>
				  	</div>
				</form>
			</div>	  	
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
		        <a data-toggle="collapse"  href="#viewEntries">
		          View Entries
		        </a>
		    </div>
			<div id="viewEntries" class="panel-collapse collapse in">	
			  <table class="table table-striped">
					<tr>
						<th>Date</th>
						<th>Contact</th>
						<th>Project</th>
						<th>Duration (hrs)</th>
						<th></th>
					</tr>
					<tr ng-repeat="entry in entries">
						<td>{{entry.date}}</td>
						<td>{{entry.contact}}</td>
						<td>{{entry.project}}</td>
						<td>{{entry.duration}}</td>
						<td><button class="close" ng-click="deleteEntry(entry.id)">x</button></td>
					</tr>
				</table>
			</div>	
		</div>
	</div>
</div>