<div class="row">
	<div class="col-md-10"></div>
	<div class="col-md-1">
		<a class="btn btn-warning pull-right" href="#/entries/bulkAdd">Add Bulk Entries</a>
	</div>
	<div class="col-md-1">
		<a class="btn btn-warning pull-right" href="#/logout">Logout</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="pager">
		  <li class="previous"><a href="#/entries/{{previousMonth}}">&larr; Older</a></li>
		  <li>{{currentMonth}}</li>
		  <li class="next" ng-show="nextMonth"><a href="#/entries/{{nextMonth}}" >Newer &rarr;</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<tr>
				<th>Date</th>
				<th>Contact</th>
				<th>Project</th>
				<th>Duration (hrs)</th>
			</tr>
			<tr ng-repeat="entry in entries">
				<td>{{entry.date}}</td>
				<td>{{entry.contact}}</td>
				<td>{{entry.project}}</td>
				<td>{{entry.duration}}</td>
			</tr>
		</table>
	</div>
</div>

