#ajaxLoader {  
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
}

.ajaxLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.pointer{
    cursor: pointer;
}

.date-weekend{
    background-color: #ffffcc;
}

.date-selected{
    background-color: #2d6ca2;
    color: white;    
}

.date-booked{
    background-color: #90c700;
    color: white;       
}

.date-disabled{
    background-color: #f5f5f5;
    color: #999;
    cursor: default;
}

.date-selected .text-muted, .date-booked .text-muted{
    color: white;
}

.autocomplete ul{
  padding-left: 0;
}